# Collecting data from the Foursquare API

<h1>Table of Contents<span class="tocSkip"></span></h1>
<div class="toc"><ul class="toc-item"><li><span><a href="#Looking-for-Starbucks" data-toc-modified-id="Looking-for-Starbucks-1"><span class="toc-item-num">1&nbsp;&nbsp;</span>Looking for Starbucks</a></span><ul class="toc-item"><li><span><a href="#Extract-geopandas-dataframe" data-toc-modified-id="Extract-geopandas-dataframe-1.1"><span class="toc-item-num">1.1&nbsp;&nbsp;</span>Extract geopandas dataframe</a></span></li><li><span><a href="#Convert-geodataframe-in-geojson-format" data-toc-modified-id="Convert-geodataframe-in-geojson-format-1.2"><span class="toc-item-num">1.2&nbsp;&nbsp;</span>Convert geodataframe in geojson format</a></span></li><li><span><a href="#Discover-which-is-the-nearest-item-to-my-initial-places" data-toc-modified-id="Discover-which-is-the-nearest-item-to-my-initial-places-1.3"><span class="toc-item-num">1.3&nbsp;&nbsp;</span>Discover which is the nearest item to my initial places</a></span></li></ul></li><li><span><a href="#Looking-for-airports" data-toc-modified-id="Looking-for-airports-2"><span class="toc-item-num">2&nbsp;&nbsp;</span>Looking for airports</a></span><ul class="toc-item"><li><span><a href="#Extract-geopandas-dataframe" data-toc-modified-id="Extract-geopandas-dataframe-2.1"><span class="toc-item-num">2.1&nbsp;&nbsp;</span>Extract geopandas dataframe</a></span></li><li><span><a href="#Convert-geodataframe-in-geojson-format" data-toc-modified-id="Convert-geodataframe-in-geojson-format-2.2"><span class="toc-item-num">2.2&nbsp;&nbsp;</span>Convert geodataframe in geojson format</a></span></li></ul></li><li><span><a href="#Looking-for-veterinarian-services-for-Dobby" data-toc-modified-id="Looking-for-veterinarian-services-for-Dobby-3"><span class="toc-item-num">3&nbsp;&nbsp;</span>Looking for veterinarian services for Dobby</a></span></li><li><span><a href="#Looking-for-elementary-schools" data-toc-modified-id="Looking-for-elementary-schools-4"><span class="toc-item-num">4&nbsp;&nbsp;</span>Looking for elementary schools</a></span></li><li><span><a href="#Looking-for-vegan-restaurant-for-the-CEO" data-toc-modified-id="Looking-for-vegan-restaurant-for-the-CEO-5"><span class="toc-item-num">5&nbsp;&nbsp;</span>Looking for vegan restaurant for the CEO</a></span></li><li><span><a href="#Looking-for-after-COVID-possible-party-places" data-toc-modified-id="Looking-for-after-COVID-possible-party-places-6"><span class="toc-item-num">6&nbsp;&nbsp;</span>Looking for after-COVID possible party places</a></span></li><li><span><a href="#Looking-for-a-basketball-stadium-for-the-maintenance-guy" data-toc-modified-id="Looking-for-a-basketball-stadium-for-the-maintenance-guy-7"><span class="toc-item-num">7&nbsp;&nbsp;</span>Looking for a basketball stadium for the maintenance guy</a></span></li></ul></div>

Let's get some information from Forusquare API about all the givem requirements.

This requirements are:

- Designers like to go to design talks and share knowledge. There must be some nearby companies that also do design.
- 30% of the company staff have at least 1 child.
- Developers like to be near successful tech startups that have raised at least 1 Million dollars.
- Executives like Starbucks A LOT. Ensure there's a starbucks not too far.
- Account managers need to travel a lot.
- Everyone in the company is between 25 and 40, give them some place to go party.
- The CEO is vegan.
- If you want to make the maintenance guy happy, a basketball stadium must be around 10 Km.
- The office dog—"Dobby" needs a hairdresser every month. Ensure there's one not too far away.

For that i'm using the "api_to_geopd" function defined in src folder on the file called foursquare.py .
This function makes a call to the API and trasforms  de obteined data into a goepandas dataframe.

After that we are going to transform each dataframe into a mongo collection because after that we want to make some geoqueries.

In previous files we have researched which locations could be the best option for our company. We reached to this three options in **San Francisco, CA, USA**:

 **Van Ness avenue with Market Street**
 
    loc1 = 37.77501,-122.4167646
 **2nd with Bryan Street more or les**
 
    loc2 =37.7832303,-122.3936295
 **Motgomery St. Station**
 
    loc3 =37.7887223,-122.4009011
    
    
The three potential locations are located in San Francisco, if I don't specify th "radius", Foursquare API gives by default all the items limited to the city, so I can use the information of each call for all the locations.

In [1]:
import sys
sys.path.append("../")
from src.foursquare import *

In [2]:
from dotenv import load_dotenv
import os

In [3]:
import shapely.geometry

In [4]:
from pymongo import MongoClient,GEOSPHERE
client = MongoClient("mongodb://localhost:27017/ironhack")

*---In order to keep safe my Foursquare tokens, i store them in a separated file that it's not going to be uploaded---*

In [5]:
load_dotenv()

tok1 = os.getenv("tok1")
tok2 = os.getenv("tok2")

## Looking for Starbucks

### Extract geopandas dataframe

In [6]:
starbucks= api_to_geopd ("Starbucks",50,tok1,tok2)

In [7]:
starbucks[:3]

        name    latitud    longitud                     geometry
0  Starbucks  37.784143 -122.407596  POINT (-122.40760 37.78414)
1  Starbucks  37.786170 -122.409060  POINT (-122.40906 37.78617)
2  Starbucks  37.789148 -122.408452  POINT (-122.40845 37.78915)

### Convert geodataframe in geojson format

In [8]:
gpd_to_geojson(starbucks, "starbucks")
starbucks.head()

/usr/local/Caskroom/miniconda/base/envs/ironhack/lib/python3.8/site-packages/geopandas/geodataframe.py:852: UserWarning: Geometry column does not contain geometry.
  warnings.warn("Geometry column does not contain geometry.")

,name,latitud,longitud,geometry
0,Starbucks,37.784143,-122.407596,"{'type': 'Point', 'coordinates': (-122.4075961..."
1,Starbucks,37.786170,-122.409060,"{'type': 'Point', 'coordinates': (-122.40906, ..."
2,Starbucks,37.789148,-122.408452,"{'type': 'Point', 'coordinates': (-122.4084517..."
3,Starbucks,37.784605,-122.404078,"{'type': 'Point', 'coordinates': (-122.4040778..."
4,Starbucks,37.786159,-122.405695,"{'type': 'Point', 'coordinates': (-122.4056946..."

### Discover which is the nearest item to my initial places

In [16]:
loc1 = [-122.4167646,37.77501]

In [17]:
db=client.ironhack

In [18]:
nearest = db.starbucks.find({"geometry":{"$near":{"type":"Point", "coordinates":[-122.4167646,37.77501]}}})
list(nearest)[0]

{'_id': ObjectId('602161afa8847ab9f63b68df'),
 'name': 'Starbucks',
 'latitud': 37.77708998,
 'longitud': -122.4172976,
 'geometry': {'type': 'Point', 'coordinates': [-122.4172976, 37.77708998]}}

## Looking for airports

### Extract geopandas dataframe

In [21]:
airports = api_to_geopd ("airport",1,tok1,tok2)
airports[:3]

,name,latitud,longitud,geometry
0,San Francisco International Airport (SFO) (San...,37.616713,-122.387094,POINT (-122.38709 37.61671)

### Convert geodataframe in geojson format

In [22]:
gpd_to_geojson(airports, "airports")
airports.head()

/usr/local/Caskroom/miniconda/base/envs/ironhack/lib/python3.8/site-packages/geopandas/geodataframe.py:852: UserWarning: Geometry column does not contain geometry.
  warnings.warn("Geometry column does not contain geometry.")

,name,latitud,longitud,geometry
0,San Francisco International Airport (SFO) (San...,37.616713,-122.387094,"{'type': 'Point', 'coordinates': (-122.3870944..."

## Looking for veterinarian services for Dobby

In [26]:
veterinary = api_to_geopd ("veterinarian",50,tok1,tok2)
veterinary [:3]

,name,latitud,longitud,geometry
0,VCA All Pets Hospital,37.768920,-122.417520,POINT (-122.41752 37.76892)
1,VCA San Francisco Veterinary Specialists,37.761463,-122.412423,POINT (-122.41242 37.76146)
2,Pets Unlimited,37.791346,-122.434348,POINT (-122.43435 37.79135)

In [27]:
gpd_to_geojson(veterinary, "vet")
veterinary.head()

/usr/local/Caskroom/miniconda/base/envs/ironhack/lib/python3.8/site-packages/geopandas/geodataframe.py:852: UserWarning: Geometry column does not contain geometry.
  warnings.warn("Geometry column does not contain geometry.")

,name,latitud,longitud,geometry
0,VCA All Pets Hospital,37.768920,-122.417520,"{'type': 'Point', 'coordinates': (-122.41752, ..."
1,VCA San Francisco Veterinary Specialists,37.761463,-122.412423,"{'type': 'Point', 'coordinates': (-122.412423,..."
2,Pets Unlimited,37.791346,-122.434348,"{'type': 'Point', 'coordinates': (-122.4343484..."
3,San Francisco SPCA Veterinary Hospital,37.766633,-122.412143,"{'type': 'Point', 'coordinates': (-122.4121430..."
4,Treat – Full Service Pet Care,37.765965,-122.411578,"{'type': 'Point', 'coordinates': (-122.4115777..."

## Looking for elementary schools
Keeping in mind that 30% of the company staff have at least 1 child, and that they are between 25 and 40 I supose that the childs are in elementary school more or less.

In [28]:
elementary_school = api_to_geopd ("elementary school",50,tok1,tok2)
elementary_school[:3]

,name,latitud,longitud,geometry
0,Bessie Carmichael Elementary School,37.776266,-122.406351,POINT (-122.40635 37.77627)
1,C5 Children's School,37.778864,-122.414584,POINT (-122.41458 37.77886)
2,Ecole Notre Dame des Victoires,37.791159,-122.406354,POINT (-122.40635 37.79116)

In [29]:
gpd_to_geojson(elementary_school, "schools")
elementary_school.head()

/usr/local/Caskroom/miniconda/base/envs/ironhack/lib/python3.8/site-packages/geopandas/geodataframe.py:852: UserWarning: Geometry column does not contain geometry.
  warnings.warn("Geometry column does not contain geometry.")

,name,latitud,longitud,geometry
0,Bessie Carmichael Elementary School,37.776266,-122.406351,"{'type': 'Point', 'coordinates': (-122.4063505..."
1,C5 Children's School,37.778864,-122.414584,"{'type': 'Point', 'coordinates': (-122.4145837..."
2,Ecole Notre Dame des Victoires,37.791159,-122.406354,"{'type': 'Point', 'coordinates': (-122.4063540..."
3,Universal Education,37.790047,-122.400874,"{'type': 'Point', 'coordinates': (-122.4008744..."
4,Nam Kue Chinese School,37.793196,-122.405458,"{'type': 'Point', 'coordinates': (-122.4054580..."

## Looking for vegan restaurant for the CEO

In [30]:
vegan = api_to_geopd ("vegan restaurant",50,tok1,tok2)
vegan[:3]

                 name    latitud    longitud                     geometry
0  The Flying Falafel  37.781323 -122.411138  POINT (-122.41114 37.78132)
1                Mixt  37.785751 -122.404124  POINT (-122.40412 37.78575)
2    Golden Era Vegan  37.781495 -122.416822  POINT (-122.41682 37.78149)

In [31]:
gpd_to_geojson(vegan, "vegan")
vegan.head()

/usr/local/Caskroom/miniconda/base/envs/ironhack/lib/python3.8/site-packages/geopandas/geodataframe.py:852: UserWarning: Geometry column does not contain geometry.
  warnings.warn("Geometry column does not contain geometry.")

,name,latitud,longitud,geometry
0,The Flying Falafel,37.781323,-122.411138,"{'type': 'Point', 'coordinates': (-122.411138,..."
1,Mixt,37.785751,-122.404124,"{'type': 'Point', 'coordinates': (-122.4041237..."
2,Golden Era Vegan,37.781495,-122.416822,"{'type': 'Point', 'coordinates': (-122.4168223..."
3,Ananda Fuara,37.777693,-122.416353,"{'type': 'Point', 'coordinates': (-122.4163533..."
4,Mr.East Kitchen,37.780452,-122.403781,"{'type': 'Point', 'coordinates': (-122.4037810..."

## Looking for after-COVID possible party places

In [32]:
nightclub = api_to_geopd ("nightclub",50,tok1,tok2)
nightclub[:3]

        name    latitud    longitud                     geometry
0       OMG!  37.780625 -122.409168  POINT (-122.40917 37.78063)
1    Monarch  37.781002 -122.408555  POINT (-122.40856 37.78100)
2  Pura Club  37.778240 -122.405774  POINT (-122.40577 37.77824)

In [33]:
gpd_to_geojson(nightclub, "party")
nightclub.head()

/usr/local/Caskroom/miniconda/base/envs/ironhack/lib/python3.8/site-packages/geopandas/geodataframe.py:852: UserWarning: Geometry column does not contain geometry.
  warnings.warn("Geometry column does not contain geometry.")

,name,latitud,longitud,geometry
0,OMG!,37.780625,-122.409168,"{'type': 'Point', 'coordinates': (-122.4091679..."
1,Monarch,37.781002,-122.408555,"{'type': 'Point', 'coordinates': (-122.4085554..."
2,Pura Club,37.778240,-122.405774,"{'type': 'Point', 'coordinates': (-122.4057742..."
3,Cat Club,37.775324,-122.409901,"{'type': 'Point', 'coordinates': (-122.4099007..."
4,F8 | 1192 Folsom,37.775260,-122.409973,"{'type': 'Point', 'coordinates': (-122.4099730..."

## Looking for a basketball stadium for the maintenance guy

In [34]:
basketball = api_to_geopd ("basketball stadium",5,tok1,tok2)
basketball

,name,latitud,longitud,geometry
0,Chase Center,37.767864,-122.387463,POINT (-122.38746 37.76786)
1,Google Cloud Courtside Lounge 25,37.768231,-122.387730,POINT (-122.38773 37.76823)
2,United Club,37.767808,-122.387302,POINT (-122.38730 37.76781)

In [35]:
gpd_to_geojson(basketball, "basket_stadiums")
basketball.head()

/usr/local/Caskroom/miniconda/base/envs/ironhack/lib/python3.8/site-packages/geopandas/geodataframe.py:852: UserWarning: Geometry column does not contain geometry.
  warnings.warn("Geometry column does not contain geometry.")

,name,latitud,longitud,geometry
0,Chase Center,37.767864,-122.387463,"{'type': 'Point', 'coordinates': (-122.387463,..."
1,Google Cloud Courtside Lounge 25,37.768231,-122.387730,"{'type': 'Point', 'coordinates': (-122.38773, ..."
2,United Club,37.767808,-122.387302,"{'type': 'Point', 'coordinates': (-122.387302,..."